<main>
  <section>
    <% @favorites.each do |fav| %>
      <h3><%= link_to "#{fav.name}", "/pets/#{fav.id}" %></h3>
      <img src= <%= fav.image %> width="200" height="162">
    <% end %>
  </section>
</main>