body {
  margin: 0px;
}

h1 {
  color: gold;
  text-shadow: 8px 8px 7px black;
}

a {
  color: white;
  font-size: 1.5rem;
}

p {
  color: white;
}

#banner{
  background-color: royalblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

header {
  /* background-color: white; */
  vertical-align: middle;
  text-align: center;
  position: top;
  top: 1px;
}

.banner-title {
  color: gold;
  font-size: 52px;
  text-shadow: 8px 8px 7px black;
}

nav {
  display: flex;
  justify-content: space-around;
  bottom: 1px;
  width: 100%;
}

.nav-btn {
  background-color: royalblue;
  border-width: 2px;
  border-color: black;
  box-shadow: 8px 8px 7px gold;
  height: 55px;
  margin: 15px;
  width: 130px;

}

.nav-btn a {
  text-decoration: none;
  color: gold;
  font-size: 26px;
}

#shelterName {
  text-align: center
}

.background-img {
  position: fixed;
  filter: brightness(40%);
  z-index: -1;
  background-size: cover;
  width: 100%;
  height: 100%;
}


div {
  /* background: #ddd; */
  padding: 1em;
  display: grid;
  align-content: center;
  text-align: center;
}

div:nth-of-type(odd) {
  /* background: #eee; */
}

.editanddeleteButtons {
  text-align: middle;
}

#sheltersAddress {
  hieght: 100%;
  position: top;
  top: 10px;
}

section {
  text-align: center;
  border-top: inset;
}
