body {
  color: white;
  margin: 0px;
}

h1 {
  color: gold;
  text-shadow: 8px 8px 7px black;
}

h2 {
  color: gold;
  text-shadow: 8px 8px 7px black;
}

a {
  color: white;
  font-size: 1.5rem;
}

p {
  color: white;
}

.banner-container {
  display: flex;
  height: 215px;
  padding: 0px;
}

#banner{
  align-items: center;
  background-color: royalblue;
  color: white;
  display: flex;
  flex-direction: column;
  height: 215px;
  position: fixed;
  width: 100%;
  z-index: 1;
}

header {
  /* background-color: white; */
  position: top;
  text-align: center;
  top: 0px;
  vertical-align: middle;
}

.banner-title {
  color: gold;
  font-size: 52px;
  text-shadow: 8px 8px 7px black;
}

nav {
  bottom: 1px;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.nav-btn {
  background-color: royalblue;
  border-width: 2px;
  border-color: black;
  box-shadow: 8px 8px 7px black;
  height: 65px;
  margin: 15px;
  width: 140px;
}

.nav-btn a {
  color: gold;
  font-size: 26px;
  text-decoration: none;
}

#shelterName {
  text-align: center
}

.background-img {
  background-size: cover;
  filter: brightness(30%);
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: -1;
}

.pet-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.pet {
  border: solid;
  border-radius: 6px;
}

.shelters {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.shelter {
  display: flex;
  flex-direction: column;
}

.favs-section {
  color: white;
  text-align: center;
}

.favs {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.fav {
  border: solid;
  border-color: black;
  border-radius: 5px;
}

.with-app {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.solo-pet {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-top: 30px;
}

div {
  /* background: #ddd; */
  padding: 1em;
  display: grid;
  align-content: center;
  text-align: center;
}

div:nth-of-type(odd) {
  /* background: #eee; */
}

.editanddeleteButtons {
  text-align: middle;
}

/* #sheltersAddress {
  hieght: 100%;
  position: top;
  top: 10px;
} */

section {
  text-align: center;
  border-top: inset;
}
